<p>
	<label for="settings_bot_token">Slack Bot Token</label>
	<input type="text" id="settings_bot_token" size=60 value="<%= settings['bot_token'] %>" name="settings[bot_token]" />
</p>

<p>
	<label for="settings_username">Slack Icon</label>
	<input type="text" id="settings_icon" value="<%= settings['icon'] %>" name="settings[icon]" />
</p>

<p>
	<label for="settings_username">Slack Username</label>
	<input type="text" id="settings_username" value="<%= settings['username'] %>" name="settings[username]" />
</p>

<p>
	<label for="settings_display_watchers">Display Watchers?</label>
	<select id="settings_display_watchers" value="<%= settings['display_watchers'] %>" name="settings[display_watchers]">
		<option value="yes">Yes</option>
		<option value="no" <%= settings['display_watchers'] != 'yes' ? %q(selected="selected") : '' %>>No</option>
	</select>
</p>

<p>
	<label for="settings_post_updates">Post Issue Updates?</label>
	<input type="checkbox" id="settings_post_updates" value="1" name="settings[post_updates]" <%= settings['post_updates'] == '1' ? 'checked="checked"' : '' %> />
</p>

<p>
	<label for="settings_post_wiki_updates">Post Wiki Updates?</label>
	<input type="checkbox" id="settings_post_wiki_updates" value="1" name="settings[post_wiki_updates]" <%= settings['post_wiki_updates'] == '1' ? 'checked="checked"' : '' %> />
</p>

<p>
	<label for="settings_post_watchers">Post Issue for Watchers?</label>
	<input type="checkbox" id="settings_post_watchers" value="1" name="settings[post_watchers]" <%= settings['post_watchers'] == '1' ? 'checked="checked"' : '' %> />
</p>

<p>
	<label for="settings_post_wiki_watchers">Post Wiki for Watchers?</label>
	<input type="checkbox" id="settings_post_wiki_watchers" value="1" name="settings[post_wiki_watchers]" <%= settings['post_wiki_watchers'] == '1' ? 'checked="checked"' : '' %> />
</p>
